<!DOCTYPE html>
<html>
    <head>
        <title>Question {{ question.id }}</title>
    </head>
    <body>
        <p>{{ question.title }}</p>
        <p>{{ question.text }}</p>
        <p>NEW ANSWER</p>
        <form action="{% url 'answer' %}" method="post">{% csrf_token %}
            {% for f in form %}
            <p>{{ f }}</p>
            {% endfor %}
            <input type="submit" value="Отправить">
        </form>
        <p>ANOTHER ANSWERS:</p>
        {% for answer in answers %}
            <p>{{ answer.text }}</p>
        {% endfor %}
    </body>
</html>
